.hidden {
  display: none;
}
label {
  margin-bottom: 10px;
  display: block;
}

.navbar {
  min-height: 115px;
}

.logo {
    background-image: url("/images/logo.png");
    width: 2rem;
    height: 2.25rem;
    background-repeat: no-repeat;
    background-size: cover;
}