name = "replate-donor-api"
main = "src/index.ts"
compatibility_date = "2025-09-01"
compatibility_flags = [ "nodejs_compat" ]
workers_dev = false
preview_urls = false

routes = [
    { pattern = "donor.replate.dev/api/*", zone_name = "replate.dev" },
    { pattern = "donor.replate.uk/api/*", zone_name = "replate.uk" }
]

[build]
    command = "npm run build"

[observability]
enabled = true
head_sampling_rate = 1

[vars]
# Set these via Terraform or wrangler secrets in real envs
AUTH0_JWKS_URL = "https://id.replate.dev/.well-known/jwks.json"
AUTH0_AUDIENCE = "donor.api"
AUTH0_ISSUER = "https://id.replate.dev/"
AUTH0_DOMAIN = "id.replate.dev"
CONNECTED_ACCOUNTS_CONNECTION = "Microsoft"
# Secrets (set via `wrangler secret put` or Makefile target):
# - DONOR_API_CLIENT_ID
# - DONOR_API_CLIENT_SECRET

[[d1_databases]]
binding = "DB"
database_name = "replate-donor"
database_id = "8fa1e104-5cf5-484e-8245-78e7074b1ed1"